* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}

#card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 300px;
    height: 350px;
    background-color: #fff;
    padding: 20px;
}

#card img {
    border-radius: 10px;
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

#card h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

#card h5 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 10, 10);
    margin-bottom: 10px;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btn button {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    padding: 13px 11px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(7, 231, 126);
}

button:active {
    transform: scale(0.8);
    transition: 0.6s ease all;
    background-color: chocolate;
}

#removes {
    background-color: #dadada;
    color: black;
}